In [1]:
import pandas as pd

# nobel

In [2]:
# Load the data from the CSV file
file_path = "./nobel.csv"  # Assuming the file is saved here
nobel_df = pd.read_csv(file_path)

In [12]:
# Task 1: Get the number of observations and variables
num_observations, num_variables = nobel_df.shape
print(f'num_observations: {num_observations}, num_variables: {num_variables}')
print("Each row represents an individual who has received a Nobel Prize. \n",
        "The row includes details such as their name, year of award, category, affiliation, country, \n",
        "birth and death dates, and motivation for the award.")

num_observations: 935, num_variables: 26
Each row represents an individual who has received a Nobel Prize.
 The row includes details such as their name, year of award, category, affiliation, country,
 birth and death dates, and motivation for the award.

In [9]:
nobel_living = nobel_df[(nobel_df['country'].notna()) &
                        (nobel_df['gender'] != 'org') &
                        (nobel_df['died_date'].isna())]
print(f'nobel_living shape: {nobel_living.shape}')
nobel_living.head()

nobel_living shape: (228, 26)

,id,firstname,surname,year,category,affiliation,city,country,born_date,died_date,...,died_country_code,overall_motivation,share,motivation,born_country_original,born_city_original,died_country_original,died_city_original,city_original,country_original
68,68,Chen Ning,Yang,1957,Physics,Institute for Advanced Study,Princeton NJ,USA,1922-09-22,NaN,...,NaN,NaN,2,"""for their penetrating investigation of the so...",China,Hofei Anhwei,NaN,NaN,Princeton NJ,USA
69,69,Tsung-Dao,Lee,1957,Physics,Columbia University,New York NY,USA,1926-11-24,NaN,...,NaN,NaN,2,"""for their penetrating investigation of the so...",China,Shanghai,NaN,NaN,New York NY,USA
94,95,Leon N.,Cooper,1972,Physics,Brown University,Providence RI,USA,1930-02-28,NaN,...,NaN,NaN,3,"""for their jointly developed theory of superco...",USA,New York NY,NaN,NaN,Providence RI,USA
96,97,Leo,Esaki,1973,Physics,IBM Thomas J. Watson Research Center,Yorktown Heights NY,USA,1925-03-12,NaN,...,NaN,NaN,4,"""for their experimental discoveries regarding ...",Japan,Osaka,NaN,NaN,Yorktown Heights NY,USA
97,98,Ivar,Giaever,1973,Physics,General Electric Company,Schenectady NY,USA,1929-04-05,NaN,...,NaN,NaN,4,"""for their experimental discoveries regarding ...",Norway,Bergen,NaN,NaN,Schenectady NY,USA

In [8]:
# Task 3: Find the most common country for Nobel laureates' affiliations when they won their prizes
most_common_country = nobel_df['country'].mode().iloc[0] if not nobel_df['country'].empty else None
print(f'most_common_country: {most_common_country}')

most_common_country: USA

# titanic

In [14]:
from skimpy import skim

In [15]:
titanic_df = pd.read_csv("titanic.csv")

In [17]:
# Display summary with skimpy
skim(titanic_df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 891    │ │ int32       │ 5     │                                                          │
│ │ Number of columns │ 12     │ │ string      │ 5     │                                                          │
│ └───────────────────┴────────┘ │ float64     │ 2     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column_name    ┃ NA   ┃ NA %    ┃ mean     ┃ sd       ┃ p0    ┃ p25    ┃ p50    ┃ p75    ┃ p100   ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━┩  │
│ │ PassengerId    │    0 │       0 │      446 │    257.4 │     1 │  223.5 │    446 │  668.5 │    891 │ ▇▇▇▇▇▇ │  │
│ │ Survived       │    0 │       0 │   0.3838 │   0.4866 │     0 │      0 │      0 │      1 │      1 │ ▇    ▅ │  │
│ │ Pclass         │    0 │       0 │    2.309 │   0.8361 │     1 │      2 │      3 │      3 │      3 │ ▃  ▃ ▇ │  │
│ │ Age            │  177 │   19.87 │     29.7 │    14.53 │  0.42 │  20.12 │     28 │     38 │     80 │ ▂▇▇▃▁  │  │
│ │ SibSp          │    0 │       0 │    0.523 │    1.103 │     0 │      0 │      0 │      1 │      8 │   ▇    │  │
│ │ Parch          │    0 │       0 │   0.3816 │   0.8061 │     0 │      0 │      0 │      0 │      6 │  ▇▁▁   │  │
│ │ Fare           │    0 │       0 │     32.2 │    49.69 │     0 │   7.91 │  14.45 │     31 │  512.3 │   ▇    │  │
│ └────────────────┴──────┴─────────┴──────────┴──────────┴───────┴────────┴────────┴────────┴────────┴────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name              ┃ NA       ┃ NA %       ┃ words per row                ┃ total words              ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ Name                     │        0 │          0 │                          4.1 │                     3626 │  │
│ │ Sex                      │        0 │          0 │                            1 │                      891 │  │
│ │ Ticket                   │        0 │          0 │                          1.3 │                     1130 │  │
│ │ Cabin                    │      687 │       77.1 │                         0.27 │                      238 │  │
│ │ Embarked                 │        2 │       0.22 │                            1 │                      889 │  │
│ └──────────────────────────┴──────────┴────────────┴──────────────────────────────┴──────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [19]:
# Display the first few rows to understand the structure
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
# Get a concise summary of the DataFrame
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [21]:
# Check for any missing values in each column
titanic_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [22]:
# Summary statistics for numerical columns
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [23]:
# Summary statistics for categorical columns
titanic_df.describe(include="object")

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [24]:
# Count unique values in each categorical column
titanic_df['Sex'].value_counts()
titanic_df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [26]:
# Survival rate by class
titanic_df.groupby('Pclass')['Survived'].mean()

# Survival rate by sex
titanic_df.groupby('Sex')['Survived'].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [27]:
# Percentage of missing values in each column
missing_percentage = (titanic_df.isnull().mean() * 100).sort_values(ascending=False)
missing_percentage

Cabin          77.104377
Age            19.865320
Embarked        0.224467
PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
dtype: float64